---
layout: layout
---

<style>
    #about-header{
        margin-top: 85px;
    }
    #about-header img{
        width: 145px;
    }
    .offer-body,
    .person-body,
    .project-body,
    .skills-body,
    .work-body,
    .learn-body{
        padding-left: 25px;
    }
    p{
        margin:0;
        font-size: 15px;
    }
    .body-section{
        padding-left: 15px;
    }
    #offer ul{
        margin-left: 20px;
        margin-bottom: 5px!important;
        border-left: 4px darkgray solid;
        padding-left: 8px;

    }
    li{
        list-style: none;
        font-size: 15px;

    }
    .title{
        color: #777;
    }
    .title>span{margin-right: 5px}
    .detail-info-xueli{
        display: block;
        padding-left: 70px;
    }


</style>

<!-- Chinese Version -->
<div class="zh post-container">
<    <div class="content" id="about-header"> 
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div>
                    <img  src="http://ozehuspmv.bkt.clouddn.com/blog/avator/avator.jpg"  style="border-radius: 50%;"/>
                </div>
                <div class="text-center">
                     <h2>庄嘉峰 / 男 / 22岁</h2>
                    <p>职业：前端开发工程师</p>
                </div>
            </div>
        </div>
        <!--正文-->
        <div class="row" id="offer">
            <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
                <div class="work-experience">
                    <h3 class="title"><span class="glyphicon glyphicon-briefcase"></span> 工作经历</h3>
                    <p>
                        2017年12月至今, 广州美至网络科技有限公司，前端开发工程师
                    </p>
                    <div class="body-section">
                        <ul>
                            <li>为企业用户提供web营销管理应用以及配套的消费端小程序。</li>
                        </ul>
                    </div>
                    <p>
                        2016年10月-2016年12月, 在中国联通广东省分公司集团客户事业部实习
                    </p>
                    <div class="body-section">
                        <ul>
                            <li>1. 收集、整理和审核语音天地和呼叫中心的客户资料;</li>
                            <li>2. 负责部门公众号的运营。</li>
                        </ul>
                    </div>
                </div>
                <div class="project-show">
                    <h3 class="title"><span class="glyphicon glyphicon-folder-open"></span> 小作品</h3>
                    <div class="project-body">
                        <ul>
							<li>个人博客<a href="<%- config.root %>"> <span class="glyphicon glyphicon-link"></span></a></li>
							<li>Vue树形控件<a href="https://github.com/trekerz/vue-tree-demo"> <span class="glyphicon glyphicon-link"></span></a></li>
							<li>Canvas小球游戏<a href="<%- config.root %>projects/pingponggame" target="_blank"> <span class="glyphicon glyphicon-link"></span></a></li>
                            <li>仿贪吃蛇小游戏<a href="<%- config.root %>projects/snake" target="_blank"> <span class="glyphicon glyphicon-link"></span></a></li>
                            <li>纯HTML+CSS+JS的页面临摹<a href="<%- config.root %>projects/mooc" target="_blank"> <span class="glyphicon glyphicon-link"></span></a></li>
                            <li>校园宣讲会信息发布网站<a href="<%- config.root %>projects/jobclock" target="_blank"> <span class="glyphicon glyphicon-link"></span></a></li>
							<li>游戏与图标制作<a href="<%- config.root %>projects/game&design" target="_blank"> <span class="glyphicon glyphicon-link"></span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="person-info">
                    <h3 class="title"><span class="glyphicon glyphicon-user"></span> 其他</h3>
                    <div class="person-body">
                        <p>教育背景： 2013 - 2017 | 本科 | 华南理工大学 | 电子与信息学院</p>
                        <p>英语水平： CET-6 | 读写流利</p>
                        <p>GitHub： <a target="_blank" href="https://github.com/trekerz">https://github.com/trekerz</a></p>
                        <p>个人博客： <a target="_blank" href="https://trekerz.github.io/"> https://trekerz.github.io</a></p>
                        <p>爱好： Ukulele,游泳,健身</p>
                    </div>
                </div>
                <div>
                    <h3 class="title"><span class="glyphicon glyphicon-wrench"></span> 常用技术</h3>
                    <ul>
                        <li>Vue</li>
                        <li>React</li>
                        <li>ES6</li>
                        <li>TypeScript</li>
                        <li>Three.js</li>
                        <li>小程序</li>
                    </ul>
                </div>
                <div class="contact-show">
                    <h3 class="title "><span class="glyphicon glyphicon-earphone"></span> 联系我</h3>
                        <p>
                            电 &nbsp; &nbsp; &nbsp; 话： 18819477367
                        </p>
                        <p>
                            邮 &nbsp; &nbsp; &nbsp; 箱： zjf007@qq.com
                        </p>
                </div>
            </div>
        </div></div>
</div>
